# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
**/tfplan
**/app.zip
crash.log
crash.*.log
.terraformrc
terraform.rc

# Terraform variable files
*.tfvars
*.tfvars.json

# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db